body {
  height:auto;
  overflow-x:hidden;
  overflow-y: scroll;
}

button {
  position: absolute;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 5rem;
  top: 3%;
}

#roma {
  left: 31%;
}

#pisa {
  left: 55%;
  text-decoration: underline;
}

#pisaImage {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-top: -282px;
  margin-left: -421.5px;
  max-width: 100%;
  height: auto;
  opacity: 90%;
}

#headerPhotoRight {
  position: absolute;
  right: .5%;
  top: 1%;
  float: right;
  z-index: 1;
}

#headerPhotoLeft {
  transform: scaleX(-1);
  float: left;
}

#bulletPoint {
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  left: 51%;
  top: 10%;
}

#englishText {
  font-family: 'Montserrat', sans-serif;
  margin-left: 5px;
  margin-right: 1130px;
  text-align: center;
  font-weight: 400;
}

#italianText {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  left: 1152px;
  top: 20%;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  z-index: 1;
}
